.elements_table {
    width: 1000px;
    margin-left: 50px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.elements_table th {
    padding: 7px 4px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #BCF46E;
    border: 1px solid #589800;
    overflow-wrap: break-word;
}

.elements_table td {
    padding: 7px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: white;
    border: 1px solid #589800;
}

.elements_choice {
    color: #589800;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.elements_choice:visited {
    color: #78AF2C;
}

.elements_table_no_border th {
    background-color: white;
}

.elements_table_no_border td {
    border: none;
}
